*{
    margin: 0;
}
.fondo-sesion img{
    width: 100%;
    height: 100%;
    position: relative;
}
/* footer{
    margin:-4px;
    height: 100%;
    width: 100%;
    background: rgb(248, 248, 248);
} */

/* footer .logo img{
    margin-left: 40px;
    margin-top: 10px;
    height: 230px;
    width: 270px;
} */
